.our-team {
  background-color: #f5f4fa;
}
.our-team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-team__title {
  @extend %title;
}
@media screen and (max-width: 767px) {
  .our-team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
