.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__menu-container {
    position: absolute;
    display: none;
    left: 0;
    top: 101%;
    width: 100%;
    background-color: $primary-white-color;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    &.is-open {
      display: block;
    }
  }
  .page-header__menu-button {
    padding: 0;
    margin-left: auto;
    background-color: $primary-white-color;
    border: 0;
    border-radius: 0;
  }
  .page-header__icon-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__menu-button:hover .page-header__icon-menu,
  .page-header__menu-button:focus .page-header__icon-menu {
    fill: $accent-color;
  }
  .page-header__icon-cross {
    display: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .page-header__menu-button:hover &,
    .page-header__menu-button:focus & {
      fill: $accent-color;
    }
    .page-header__menu-button.is-open & {
      display: block;
    }
  }
  .page-header__menu-button.is-open .page-header__icon-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header__menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 88px;
  }

  .page-header__menu-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__menu-container {
    margin-left: 93px;
  }
}
